@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Questions answering field style
.question-answering-field {
  min-height: 500px;
}

// Single select style
.single-select {
  border: 2px solid $gray-200;
  border-radius: 10px;
  padding: 14px 15px;
  margin-bottom: 40px;
  color: $dark;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;

  // Style for selected option
  &.selected {
    border-color: $dark;
  }

  // Hide radio button
  input {
    display: none;
  }

  // Icon style
  i {
    color: $gray-300;
    margin-right: 15px;
    font-size: 1.5rem;

    &.selected {
      color: $dark;
    }
  }

  // Button text
  p {
    margin: 0;
  }
}

// Textarea style
.text-input {
  border: 2px solid $gray-200;
  border-radius: 10px;
  padding: 6px 10px;
  width: 100%;
  margin-bottom: 40px;

  // style on focus
  &:focus, &:active {
    border-color: $dark;
  }
}